PORT=5000
SUPABASE_URL=https://rjwiqqoasttzftpodxxn.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqd2lxcW9hc3R0emZ0cG9keHhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1OTg0NjEsImV4cCI6MjA5MzE3NDQ2MX0.n8FsbHi_EGNkAVISqiFAOaFtKSEIcrZ_kCcDq3uA1YA
